{{question-detail question=model destroyQuestion="destroyQuestion"}}
{{new-answer saveAnswer="saveAnswer" question=model}}



<div class="answers">
  {{#each model.answers as |answer|}}
      {{answer-display answer=answer}}
  {{/each}}
</div>

<div class="row">
  <div class="col-sm-4 col-centered">
    <div class="edit-question">
      <h3>Edit Question:</h3>
      {{update-question question=model update="update"}}
      <button {{action 'delete' model}}>Delete</button>
    </div>
  </div>
</div>
